<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"  package="com.eluo.project.intranet">
    <!--퍼미션 정의 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>     <!--전화수신 알림(6.0API23부터  추가됨)-->
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW"/>  <!--전화수신 알림(6.0API23부터  추가됨)-->
    <uses-permission android:name="android.permission.INTERNET"/> <!-- 인터넷 사용 권한 넣기-->
    <uses-permission android:name="android.permission.CALL_PHONE"/> <!-- 전화 걸기 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/> <!-- 구글 지도 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/> <!--자기자신의 전화번호 가져오기-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>   <!-- 네트워크 연결 상태 체크 -->
    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission> <!-- 문자 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" /> <!--앱 아이콘 위젯-->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />    <!--전화 발신 목적 추가-->


    <!--애플리케이션-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/eluo_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <!--20170316 전화 걸려왔을때 수신 팝업 목적 추가됨 -->
        <service android:name=".service.CallingService"
            android:enabled="true"
            android:permission="android.permission.SYSTEM_ALERT_WINDOW"
            />
        <receiver android:name=".service.IncomingCallBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
            </intent-filter>
        </receiver>

        <!-- google map kay-->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />
        <!-- 인트로 -->
        <activity
            android:name=".intro.IntroActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--메인 액티비티-->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"  />
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            </intent-filter>
        </activity>
        <!-- 중복 실행 방지 android:launchMode="singleTask" 추가됨 공지에..-->
        <!-- 맵 엑티비티 -->
        <activity android:name=".map.Map" android:label="@string/action_map"  android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"></activity>
        <!-- 직원 조회 엑티비티 -->
        <activity android:name=".member.Staff" android:label="@string/action_member"  android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"> </activity>
        <!-- 직원 조회 상세 정보 엑티비티 -->
        <activity android:name=".member.StaffDetails" android:label="@string/action_member" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"></activity>
        <!--공지 조회 엑티비티-->
        <activity android:name=".notice.Notice" android:label="@string/action_notice" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:launchMode="singleTask"></activity>
        <!--공지 조회 상세 엑티비티-->
        <activity android:name=".notice.NoticeDetails" android:label="@string/action_notice" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:launchMode="singleTask"></activity>
        <!--회의실 예약 정보-->
        <activity android:name=".meeting.Meeting" android:label="@string/action_meeting" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"></activity>
        <!-- 내 휴가 정보-->
        <activity android:name=".leave.Leave" android:label="@string/action_myeluo" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"></activity>
        <!-- 내 휴가 정보-->
        <activity android:name=".program.ProgramInformation" android:label="@string/program_info" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" ></activity>

    </application>
</manifest>